* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-dm-sans: 'DM Sans', sans-serif;
    --ff-poppins: 'Poppins', sans-serif;

    --clr-something-red: #FE2E66;
    --clr-light-pink: #FFB4B4;
    --clr-very-light-pink: #FFD9D6;
    --clr-neutral-white: #FFF4F3;
    --clr-very-light-brown: #FFDEBF;
    --clr-peach: #FB7171;
    --clr-black: #000000;
    --clr-ligt-gray :#AFA5C1;
}

.nav-bar {

    display: flex;
    justify-content: space-between;
    font-family: var(--ff-poppins);
    margin: 0 40px;
}

.nav-bar__logo {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin: 20px 0;
    color: var(--clr-light-pink);

}


.nav-bar__logo span {
    color: #FF6D6D;
}

a{
   color: #FF9191;
    text-decoration: none;
}



a[data-tool-tip] {
    position: relative;
}

a[data-tool-tip]::after{
    margin-left: 10px;
    content: attr(data-tool-tip);
    display: block;
    position: absolute;
    color: white;
    background-color: #FFB4B4;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    bottom: 0;
    left: 4.5em;
    transform: scale(0);
    transition: transform ease-out 150ms;
   
}

a[data-tool-tip]:hover::after {
    transform: scale(1);
   
}



.nav-bar__link {
    list-style: none;
    margin: 20px 0;
}

.nav-bar__item a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 32px;
    color: var(--clr-black);

}

.nav-bar__item a:hover{
    color: var(--clr-peach);
    
}

.nav-bar__item {
    display: inline;

}

.container {
    width: 1440px;
    margin: 0 auto;
}

button {
    width: 190px;
    height: 40px;
    background: #FFB4B4;
    border: 1px solid #000000;
    box-shadow: 6px 7px 0px rgba(0, 0, 0, 0.76);
    border-radius: 20px;
    font-size: 24px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #FE2E66;
    transition: ease-in 200ms;
    color: #FEF0E9;

}


.hero__img {
    float: right;
    width: 665px;
    height: 524px;

    margin: 0 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 62px;
}

.hero__header {

    width:500px;
    height: 240px;
    color: var(--clr-something-red);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 76px;
    letter-spacing: 0.05em;
    margin: 60px 60px 30px;
    padding: 20px 0 0;
}

.hero__sub-header {

    width: 485px;
    height: 138px;
    font-family: var(--ff-dm-sans);
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: var(--clr-black);
    margin: 20px 60px;
}


.color-wrapper {
    background: linear-gradient(180deg, rgba(251, 205, 182, 0.47) 0.35%, rgba(253, 211, 191, 0) 233.86%, rgba(254, 244, 220, 0.47) 233.86%);
    width: 100%;

}

.hero-container {
    height: 720px;
    width: 100%;
}

.hero__btn {
    width: 215px;
    height: 70px;
    background: #FFB4B4;
    border: 1px solid #000000;
    box-shadow: 6px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-left:60px;
    margin-right:0px;
}

.hero__btn:last-child{
    margin-left: 10px;
}

.hero__btn--pink:active {
    
    color: rgba(255, 255, 255, 1);
    box-shadow: none;
}


.hero__btn--light {
    width: 215px;
    height: 70px;
    background: #FEF0E9;
    border: 1px solid #000000;
    box-shadow: 6px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.hero__btn--light:hover {
    color: var(--clr-something-red);
    background-color: #FEF0E9;
    border-color: var(--clr-something-red);
}



.stats-container{
    width: 40%;
    margin:45px 60px;
    display: flex;
    justify-content: space-between;
}

.stats-column{
    display: inline-block;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
}

.stats-column__artwork-text{
    color: var(--clr-something-red);
    font-family: var(--ff-poppins);
    font-weight: 700;
}


#featured{
    position: relative;
}

.cloud-img{
    width: 1440px;
    height: 309px;
    margin-bottom: -10px;
}
.featured-bg{
    background-color: var(--clr-very-light-brown);
    width: inherit;
    height: 447px;
    z-index: -1;
    position: relative;
}
#featured{
    background-color: white;
  
}

.featured__header{
    width: 633px;
    height: 96px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    margin: 0 60px;
    padding: 20px 0;
}   

.featured__header span{
    color: #DD6169;
}

.featured__img{
    position: absolute;
    width: 5%;
    left: 700px;
    top: 40px;
}
.featured-container{
    background:#FFDEBF;
    height: 1350px;
    
}

.grid{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
  
    width: 1340px;
    margin: -1180px auto 0;
    gap: 10px;
}
.wave-img{
    
    margin-bottom: -50px;
    z-index: -1;
    width: 1440px;

}

.grid__item{

    margin: 0 auto;
    margin-bottom: 40px;
}
.featured-card{
    cursor: pointer;
    width: 380px;
    height: 538px;   

    background: #FEF1EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    
}
.featured-card-body{
    margin: 10px auto;
}

.featured-card__img{
    margin: 20px;  
    width: 342px;
    height: 370px;;
   

}

.featured-card__qr{
    
    width: 79px;
    height: 75px;
    float: right;
    margin: -15px 20px 0 20px;
}

.featured-card__title{
    font-size: 36px;
    font-family: var(--ff-poppins);
    margin: 0 20px;
    width: 200px;
    color: var(--clr-something-red);
}



.featured-card__eth{
    font-size: 36px;
    font-family: var(--ff-poppins);
    margin: 0 20px; 
    color: var(--clr-very-light-brown);
    width: 100px;
    color: var(--clr-peach);
}
.featured-card__price{
    float: right;
    font-size: 22px;
    font-family: var(--ff-dm-sans);
    margin: -40px 20px; 
    font-weight: bold;
    color: var(--clr-ligt-gray);
}



.top-seller__header{
    font-size: 64px;
    font-family: var(--ff-poppins);
    font-weight: 700;
    line-height: 96px;
    color: var(--clr-black);
    margin: 0 auto 60px;
}

.top-seller__header span{
    color: #DD6169;
}

.top-seller-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 70px;
}
.top-seller-grid__item{
  text-align: center;
  cursor: pointer;

}


.top-seller__img{
    border-radius: 100%;
    width: 151px;
    height: 142px;
    object-fit: cover;
    
}

.top-seller__name{

    font-family: 'Poppins'; 
    font-weight: 700;
    font-size: 26px;  
    
    color: #FE2E66;
}

.top-seller__eth{
    font-family: 'Poppins';
  
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FF7A8B;
}

.design{
    margin: 100px 0;
}
.design__line-img{
    width: 1440px;
}
.design--inverted{
    transform: scaleX(-1);
}

.community-box{
    width: 1369px;
    height: 380px;
    margin: 20px auto;

    background: #FFD9D6;
    border-radius: 93px;
    
}

.community__header{
    width: 711px;
    height: 96px;
    margin: auto;
   padding-top: 50px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 96px;
  


color: #FE2E66;
}

.community__header span{
    color:black;
}

.community__context{
    padding-top: 50px;
    margin: auto;
    width: 651px;
    height: 82px;
    left: 399px;
    top: 3644px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.community-btn__wrapper{
    margin: 0 auto;
    width: 301px;
}
.community__btn{
   
    margin: 80px auto;
    width: inherit;
    height: 70px;
    
}

.community__btn:active{
    color: rgba(255, 255, 255, 1);
    box-shadow: none;
}

.footer-bg{
    margin-top: 50px;
    width: 1440px;
    height: 444px;
    background: var(--clr-black);
    margin-bottom: 0;
}

.footer__logo{
    font-size: 48px;
    
    font-weight: 700;
    
    color: var(--clr-light-pink);
    font-family: var(--ff-poppins);
    margin-bottom: 40px;

}

.footer__logo span{
    color: #FE2E66;
}

.footer__description{
    color: var(--clr-neutral-white);
    width: 522px;
    height: 132px;
    

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    margin: 50px inherit 0;
 
}

.footer__item{
    margin: 60px;
}
.footer__item--a{
    display: block;
    width: 180px;
    height: 33px;
    font-family: var(--ff-poppins);
    
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    margin-top: 10px;
    color: var(--clr-neutral-white);
}


.footer__item--a:first-child{
    margin-bottom: 45px;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.social-container img{
    margin: 10px;
}

.social-container img:hover{
    cursor: pointer;
}